body {
    background: url('/images/backg.jpg') no-repeat center center/cover;
    width: 380px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;   
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, ul, p {
	margin: 0;
    padding: 0;
}

h1 {
    font-size: 55px;
    color: red;
    font-family: 'Special Elite', Georgia, cursive;
}

h2 {
	font-size: 26px;
    padding: .5em 0;
    color: white;
    font-family: 'Orbitron', sans-serif, Georgia;
}

img {
    height: 350px;
    width: 700px;
    margin: solid black 2px;
    border-radius: 20px;
}

#slides img {
	display: none;
}

#buttons {
    margin-top: 25px;
	text-align: center;
}
#nivel {
    padding: 30px;
}

.btn {
    padding: 10px 15px;
    font-size: 20px;
    background: red;
    border-radius: 15px;
    margin: 3px;
    font-weight: bold;
    border: black solid 2px;
}

.btn:hover {
    color: red;
    background:#F4F4F4;
}

#main-footer {
   font-family: 'Orbitron', sans-serif, Georgia;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   padding-bottom: 15px;
}

.teslasite {
    color: red;
}